/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Slab&display=swap')

/* Override browser default style */
/* Why is this not doing anything when I view it with Devtools? */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Orbitron";
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #b7adb2;
    font-family: "Roboto Slab", sans-serif;
    /* Why do I have to add margin and padding here again if I use the * at the top ? */
    margin: 0; 
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Orbitron", sans-serif; /* Why is this not displaying correctly? */
    letter-spacing: 1px;
}

/* ---------- HEADER SECTION STYLES ---------- */

header {
    background-color: #445371; /* turn this into a gradient later */
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #383a45;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff; 
}

header i {
    color: #ffffff;
    font-size: 90%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 2px solid #b943ae;
}

/* Dropdown menu for Navigation bar */
nav {
    position: absolute;
    background-color: #445371;
    width: 100%;
    box-shadow: 0 3px 3px #383a45;
    left: 0;
    padding: 0 1rem;
    display: none; /* sets it to hidden by default */
    top: 100%; /* top of this element should start at bottom of its parent */
}

/* Toggle function for Navigation bar */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none; /* sets checkbox to hidden by default */
}

.nav-toggle-label {
    font-size: 2rem;
}

/* ---------- MAIN SECTION STYLES ---------- */

main {
    /* main element takes up surplus space to push footer to the bottom */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* About Section */ 

/*Why is the alt text showing on my image?"*/
#about-img {
    height: 600px;
    width: 100%;
    background: url(../images/galaxy.jpeg) no-repeat center center / cover;
    position: relative;
}

/* This might be a nice way to tie the three oages together with a quote  */
#quote {
    background-color: rgba(185,67,174,0.7);
    font: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#quote > h2 {
    color: #ffffff;
}

#about {
    width: 90%;
    margin: 20px auto;
}

#about h2, #about h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 150%;
}

#about1 > div, #about2 > div, #about3 > div {
    line-height: 20px;
    margin-bottom: 20px;
}

/*Why is the alt text showing on my image?"*/
#circle-cover-bg {
    background: url(../images/reaching.jpg) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    max-height: 300px;
    max-width: 300px;;
    margin-bottom: 20px;
    border-radius: 50%;
    justify-content: center;
}
#about-img2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Destinations Section */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.card {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 3px 3px #383a45;
    overflow: hidden;
    background-color: #4f544f;
    color: #b7adb2;
    transition: transform 0.6s ease;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 200%;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.card-content p {
    font-family: "Roboto Slab", sans-serif;
}

.card-button {
    display: inline-block;
    background-color: #b943ae;
    text-decoration: none;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 16px;
    display: block;
    text-align: center;
    margin: 20px 40px;
}

/* Hover Effects for planet cards */
.card:hover {
    transform: translateY(-20px);
}

.card-button:hover {
    color:#b943ae;
    background-color: #ffffff;
}

/* Bookings Section */

/* Why is the alt text showing on my image? And why is my image squished so flat? */
#bookings-img {
    height: 600px;
    width: 100%;
    background: url(../images/reaching.jpg) no-repeat center center / cover;
    position: relative;
}

.radio-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0;
}

.text-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #b943ae;
    width: 55%;
    height: 20px;
    margin: 5px 10px;
    padding: 0 5px;
}


/* ---------- FOOTER SECTION STYLES ---------- */

footer {
    background-color: #445371;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 120%;
    padding: 5%;
    color: #ffffff;
}

/* ---------- Media Queries ---------- */

/* Media Query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */ 
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Section */
    main {
        /* move main content down to accomodate larger header */
        margin-top: 80px;
    }

    /* About Image */
    #quote {
        width: 300px;
        right: 50px;
    }

    /* About Text*/
    #about1, #about2, #about3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #about1 > div, #about2 > div, #about3 > div {
        width: 75%;
    }

    #about2 > div {
        text-align: end;
        align-self: flex-end;
    }

    #about2 > p {
        align-self: flex-start;
    }

    #about-image > div {
        align-self: flex-end;
    }

    .form-fields {
        flex-direction: row;
    }
}

/* Media Query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        color:#b943ae;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 25px 5px;
        align-items: stretch;
    }

    .card-button {      
        align-items: flex-end; /* How can I make the buttons lign up along the bottom ? */
    }
}

/* Media Query: large screens (1200px and up) */
@media screen and (min-width: 1200px) {
    /* About Section */
    #about-lg {
        display: flex;
        flex-direction: row;
    }

    #about-lg > div {
        flex: 1;
    }

    #about1 {
        order: 0;
    }

    #about2 {
        order: 1;
    }

    #about3 {
        order: 3;
    }

    #about-img {
        order: 2;
    }

    #about1 > div {
        align-self: flex-start;
    }

    #about2 > div {
        align-self: center;
    }

    #about3 > div {
        align-self: flex-end;
    }
}
