/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Slab&display=swap')

/* Override browser default style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #b7adb2;
    font-family: "Roboto Slab", sans-serif;
    color: #383a45;
}

h1 {
    font-family: "Orbitron", sans-serif; /* why is this not displaying correctly? */
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Header Styles*/
header {
    background-color: #445371; /* I want to make this a gradient later */
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #383a45;
}

header a {
    text-decoration: none;
    color: #ffffff; 
}


/* Main Styles */
main {
    /* main element takes up surplus space to push footer to the bottom */
    flex: 1 0 auto;
}

/* Footer Styles */
footer {
    background-color: #445371;
    color: #ffffff;
}


